{% extends 'base.html' %}
{% block content %}
<form method="post" action="/quotes">
    <h2>Add Quote</h2>
    <div>
        <label for="quote">Quote</label>
        <textarea id="quote" name="quote"></textarea> 
        <!-- <input id="quote" name="quote" type="text" /> -->
    </div>
    
    <div>
        <label for="quote_author">Quote Author</label>
        <input id="quote_author" name="quote_author" type="text" />
        <!-- <textarea id="quote_author" name="quote_author"></textarea> -->
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>
{% endblock content %}