{% extends 'base.html' %}
{% block content %}
<form method="post" action="/quotes/{{ quote['id'] }}">
    <h2>Edit Quote</h2>

    <div>
        <label for="quote">Quote</label>
        <input id="quote" name="quote" type="text" value= "{{quote['quote']}}" />
    </div>
    
    <div>
        <label for="quote_author">Quote Author</label>
        <input id="quote_author" name="quote_author" type="text" value= "{{quote['quote_author']}}" />
    </div>

    <div>
        <button type="submit">Save</button>
    </div>
</form>

{% endblock content %}

