{% extends "base.html" %}
{% block content %}

<a href="/quotes/create">Create</a>
<a href="/quotes/show">Show All Quotes</a>

<h2>My Quotes</h2>

<!-- {% print(my_quote) %} -->
{% for my_quote in my_quotes %}
<div class = "quotestyle">
    <!-- style="background-color:bisque; padding: 20px; margin-bottom: 5px;" -->
    <quote>"{{my_quote['quote']}}"</quote>
    <h3>- by {{my_quote['quote_author']}}</h3>
    <div>
        <a href="/quotes/{{ my_quote['id'] }}/edit">Edit</a>&nbsp;-&nbsp;<a href="/quotes/{{ my_quote['id'] }}/delete">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock content %}

