{% extends "base.html" %}
{% block content %}

<h2>All Quotes</h2>

{% for each_quote in all_quotes %}
<div class = "quotestyle">
    <quote>"{{each_quote['quote']}}"</quote>
    <h3>- by {{each_quote["quote_author"]}}</h3>
    <h3>Posted by {{each_quote["user_name"]}}</h3>

{% if session.get('user_name') != each_quote["user_name"] %} 
<form method="post" action="/quotes">
    <div>
        <input id="quote" name="quote" type='hidden' value = "{{each_quote['quote']}}" />
    </div>
    
    <div>
        <input id="quote_author" name="quote_author" type='hidden' value = "{{each_quote['quote_author']}}" />
    </div>

    <div>
        <button id ="add_quotes" type="submit">Add to My Quotes</button>
    </div>
</form>
{% endif %}

</div>

{% endfor %}

{% endblock content %}

